.continer{
    display: flex;
    justify-content: center;
    
}
.button{
    background-color:rgba(25, 188, 185, 0.348);
    font-size: 30px;
    text-align: center;
    margin-right: 20px;
    padding: 10px;
    margin: auto;
    margin-bottom: 15;
    
}