.continer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 25px 0;
   
}


.changeButton{
    background-color: rgb(82 181 58 / 20%);
    font-size: 30px;
    text-align: center;
    width: fit-content;
    margin: 5px 0px;
    padding: 15px;
}

.button{
    background-color:rgba(25, 188, 185, 0.348);
    font-size: 30px;
    text-align: center;
    margin-right: 20px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 15;
    width: 100%;
}

.buttonCon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.buttonCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}




.headline{
    text-align: center;
    margin: 0;
}

