html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.turn{
  text-align: center;
  font-family: sans-serif;
  margin-right: 35px;
}
.battle-board-container {
  display:inline-block
}

.columns-number-container {
  display: flex;
  padding-left: 17px;
  padding-right: 100px;
}

.columns-number {
  width: 50px;
}

.row-letter-container {
  display: flex;
}

.row-letter {
  width: 22px;
  height: 50px;
  display: flex;
  align-items:center;
}

.columns-square {
  width: 50px;
  height: 50px;
  border: 2px solid rgb(110, 92, 92);
  /* background-color: rgba(203, 225, 239, 0.314); */
}

.initial-state-square {
  background-color: rgba(203, 225, 239, 0.314);
}

.hover-square {
  background-color: rgb(25, 197, 102);
}

.main{
  text-align: center;
}


.buttenDiv{
  text-align: center;
  padding: 50px;
}

.button {
  background-color: #0000ff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:16px;
  margin-right: 55px;
}



.button_start{
  background-color: #0ea158; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:16px;
  margin-right: 55px;
}




.battle-board-container {
  text-align: center;
  margin-left: -0.4%;  
  

 
}

