.formContiner{
    padding:1px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
}

.shipContiner{
    display: flex;
    justify-content: center;
}




.t{
    
    display: flex;
    justify-content: center;
}